@import url('https://googleapis.com');
@import "tailwindcss";
@source "../.flowbite-react/class-list.json";
@import "flowbite-react/plugin/tailwindcss";
@import "tailwindcss";

* {
  box-sizing: border-box;
 
}

#root {
  height: 100vh;
  width: 100vw;
  background: #070B14
}

section {
  animation: fadein 2s ease-out forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


